
.card-header{
    font-family: 'Exo', sans-serif;
}

.text-dark{
    font-size: 60px;
}

.img-card{
    border: 5px solid black;
    box-shadow: 5px 5px 5px black;
}

.font-spartan{
    font-family: 'Spartan', sans-serif;
}

#links a{
    color: black;
    text-decoration: none;
}

#links a:hover {
    color:grey;
}

